@import 'mixin.scss';

html {
  scroll-behavior: smooth;
  @include fz_vw(10);
  @include mq(md) {
    @include fz_vw_pc(10);
  }
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.main {
  flex: 1;
}
