@import 'mixin.scss';

.main {
  padding-bottom: get_vw(200, $vwPc);
  &_inner {
    width: get_vw(1557, $vwPc);
    margin: auto;
    &_s {
      width: get_vw(961, $vwPc);
      margin-left: get_vw(182, $vwPc);
    }
  }
}

.page {
  &_title {
    display: inline-block;
    margin-bottom: get_vw(100, $vwPc);
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    line-height: 1;
    @include fz_vw(60, $vwPc);
  }
  &_head {
    margin-bottom: get_vw(200, $vwPc);
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  &_item {
    position: relative;
    width: 32%;
    margin-right: get_vw(28, $vwPc);
    aspect-ratio: 3/2;
    background-image: url('/assets/img/works/works-item@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 4) {
      margin-top: get_vw(160, $vwPc);
    }
    a {
      display: flex;
      width: 100%;
      height: 100%;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
      }
    }
    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: 0.3s;
    }
    &:hover a h3 {
      opacity: 1;
      transition: 0.3s;
    }
  }
  &_each {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    .btn {
      position: relative;
      z-index: 20;
      width: get_vw(182, $vwPc);
      height: get_vw(670, $vwPc);
      background-color: #fff;
      transition: 0.3s;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: get_vw(98, $vwPc);
        height: get_vw(25, $vwPc);
        margin: auto;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url('/assets/img/works/works-arrow.svg');
        background-size: contain;
        transition: 0.3s;
      }
      &:hover {
        transform: scale(1.1);
        transition: 0.3s;
        &::after {
          right: get_vw(15, $vwPc);
        }
      }
    }
    .prev {
    }
    .next {
      &::after {
        transform: rotate(180deg);
      }
      &:hover {
        &::after {
          right: get_vw(-15, $vwPc);
        }
      }
    }
  }
  &_detail {
    position: relative;
    flex: 1;
    aspect-ratio: 1.4/1;
    background-image: url('/assets/img/works/works-each@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.3s;
    }
    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      transform: translate(-50%, -50%);
      color: #000;
      opacity: 0;
      transition: 0.2s;
      @include fz_vw(40, $vwPc);
      p {
        margin-bottom: get_vw(30, $vwPc);
      }
    }
    &:hover::after {
      opacity: 1;
      background-color: rgba($color: #c4c4c4, $alpha: 0.6);
      transition: 0.2s;
    }
    &:hover .text {
      opacity: 1;
      transition: 0.3s;
    }
  }
}

.about {
  margin-bottom: get_vw(200, $vwPc);
  .page_head {
    margin-bottom: get_vw(50, $vwPc);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.company {
  &_title {
    margin-bottom: get_vw(50, $vwPc);
    @include fz_vw(40, $vwPc);
  }
  dl {
    display: flex;
    flex-wrap: wrap;
  }
  dt {
    width: 150px;
    margin: 0 10px 50px 0;
  }
  dd {
    width: calc(100% - 160px);
    &:nth-of-type(6) {
      line-height: 1.5;
    }
    &:last-of-type {
      margin: 10px 0 0 calc(150px + 10px);
      line-height: 1.5;
    }
  }
}

.members {
  display: flex;
  flex-wrap: wrap;
  &_item {
    width: 32%;
    margin-right: 2%;
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-child(n + 4) {
      margin-top: get_vw(160, $vwPc);
    }
  }
  &_img {
    aspect-ratio: 1.25/1;
    width: 100%;
    height: auto;
    margin-bottom: get_vw(30, $vwPc);
  }
  &_name {
    margin-bottom: get_vw(20, $vwPc);
    text-align: center;
    @include fz_vw(30, $vwPc);
  }
  &_description {
    line-height: 1.5;
    @include fz_vw(30, $vwPc);
  }
}

.careers {
  &_type {
    margin-bottom: get_vw(150, $vwPc);
  }
  &_item {
    margin-bottom: get_vw(100, $vwPc);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &_title {
    margin-bottom: get_vw(25, $vwPc);
    @include fz_vw(40, $vwPc);
  }
  &_text {
    line-height: 1.5;
    @include fz_vw(16, $vwPc);
  }
  &_condition {
    margin-bottom: get_vw(200, $vwPc);
    dl {
      display: flex;
      flex-wrap: wrap;
    }
    dt {
      width: 150px;
      margin: 0 10px 50px 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    dd {
      width: calc(100% - 160px);
    }
  }
}

.form {
  &_wrap {
    display: flex;
    padding: get_vw(30, $vwPc) 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    &:nth-of-type(n + 2) {
      border-top: none;
    }
  }
  &_label {
    width: 250px;
    margin-right: 10px;
  }
  &_input {
    width: calc(100% - 260px);
    input,
    textarea {
      width: 100%;
    }
    textarea {
      resize: none;
    }
  }
  &_accept {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: get_vw(50, $vwPc) 0 get_vw(150, $vwPc);
    text-align: center;
    input {
      width: get_vw(30, $vwPc);
      height: get_vw(30, $vwPc);
    }
    span {
      margin-left: 30px;
    }
  }
}

.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: get_vw(593, $vwPc);
    height: get_vw(150, $vwPc);
    background-color: #fff;
    color: #000;
    @include fz_vw(30, $vwPc);
  }
}
