.footer {
  width: 100%;
  padding: get_vw(50, $vwPc);
  background-color: #fff;
  color: #000;
  // @include fz_vw(30, $vwPc);
  &_link {
    display: block;
    margin-bottom: get_vw(50, $vwPc);
  }
  &_nav {
    &_list {
      display: flex;
      &_item {
        margin-right: get_vw(50, $vwPc);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
