.header {
  // position: fixed;
  position: relative;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  font-size: 3rem;
  @include mq(md) {
    padding: 5rem 5rem;
  }
  &_nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #313131;
    &_list {
      text-align: center;
      @include mq(md) {
        display: flex;
        margin-right: 4rem;
      }
      &_item {
        margin-bottom: 5rem;
        @include mq(md) {
          margin-right: 4rem;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &_btn {
    position: relative;
    width: 6rem;
    height: 3rem;
    z-index: 100;
    @include mq(md) {
      display: none;
      width: 6rem;
      height: 3rem;
    }
    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #fff;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
    // .header_nav.is-active {
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 100%;
    //   height: 100%;
    //   background-color: #313131;
    // }
  }
}
