@import 'mixin.scss';

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: get_vw(50, $vwPc);
  &_nav {
    &_list {
      display: flex;
      &_item {

      }
    }
  }
}