.header {
  // position: fixed;
  position: relative;
  z-index: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  font-size: 3rem;
  @include mq(md) {
    padding: 5rem;
    // background-color: aqua;
  }
  &_nav {
    // display: none;
    &_list {
      display: flex;
      &_item {
        // margin-right: 5rem;
        @include mq(md) {
          margin-right: 4rem;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
