.header {
  // position: fixed;
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: get_vw(50, $vwPc) get_vw(50, $vwPc) 0;
  @include fz_vw(30, $vwPc);
  &_nav {
    &_list {
      display: flex;
      &_item {
        margin-right: get_vw(50, $vwPc);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
