@use "sass:math";
$vwSp: 375;
$vwPc: 1920;

$breakpoint: (
  sp: "screen and (max-width: 767px)"
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

@function get_vw($size, $viewport: $vwSp) {
  $rate: math.div(100, $viewport);
  @return $rate * $size * 1vw;
}
@mixin fz_vw($fontsize: 10, $viewport: $vwSp) {
  font-size: $fontsize * 1px;
  font-size: get_vw($fontsize, $viewport);
}
